<div class="rounded text-body-emphasis bg-body-secondary container">
  <div class="col-lg-7 col-xs-12 banner">
    <div class="mt-5 section-one position-relative mb-100 ">
      <!-- fst-italic -->
      <h1 class=" text-white section-one upper">
        Elevate your gaming <br> experience to the <br>next level
      </h1>
      <p class=" my-3 text-color section-one">
        Maximize your gaming potential with top-tier gear for unbeatable
        performance,<br>
        immersive experiences, seamless gameplay, and unmatched
        speed and precision.
      </p>
      <div class="mt-5">
        <button type="button" class="btn btn-primary-gg" (click)="redirectToGamingWeb()">
          <h6 class="m-0 p-2">JOIN NOW</h6>
        </button>

      </div>
    </div>
    <div class="px-0 justify-content-end d-xs-none image-blend d-none d-lg-block">
      <img src="assets/banner.png" alt="" />
    </div>
  </div>
</div>

<div>
  <app-cards></app-cards>
</div>
<div>
  <app-card-carousal></app-card-carousal>
</div>
<div>
  <app-session></app-session>
</div>
<div>
  <app-premade></app-premade>
</div>