<div class="mb-4 rounded text-body-emphasis bg-body-secondary container">
  <div class="d-flex">
    <div class="mt-5 section-one">
      <h1 class="display-4 fst-italic text-white section-one">
        Elevate your gaming experience to the next level
      </h1>
      <p class="lead my-3 text-color section-one">
        Maximize your gaming potential with top-tier gear for unbeatable
        performance, immersive experiences, seamless gameplay, and unmatched
        speed and precision.
      </p>
      <button type="button" class="btn btn-primary-gg"><h6>JOIN IN</h6></button>
    </div>
    <div class="px-0 justify-content-end">
      <img src="assets/banner.png" alt="" />
    </div>
  </div>
</div>

<div>
 <app-cards></app-cards>
</div>
<div>
  <app-card-carousal></app-card-carousal>
</div>
<div>
  <app-session></app-session>
</div>
<div>
  <app-premade></app-premade>
</div>