.slider-img {
  width: 235px !important;
  height: 300px;
  margin: auto;
  border: 1px solid #5F01D4;
  border-radius: 5%;
  object-fit: cover;
}

.owl-next {
  position: absolute;
  top: 45%;
  right: -7px;
  color: black !important;
}

.owl-prev {
  position: absolute;
  top: 45%;
  left: -7px;
  color: black !important;
}

::ng-deep .owl-theme .owl-nav [class*=owl-] {
  color: black !important;

}

.p {
  font-family: "Manrope", sans-serif;
}

@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";