<div class="mb-4 p-4 rounded text-body-emphasis  container">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img class="slider-img" src="assets/images/image1.png">
        </ng-template>
        <ng-template carouselSlide>
            <img class="slider-img" src="assets/images/image2.png">
        </ng-template>
        <ng-template carouselSlide>
            <img class="slider-img" src="assets/images/image3.png">
        </ng-template>
        <ng-template carouselSlide>
            <img class="slider-img" src="assets/images/image4.png">
        </ng-template>
        <ng-template carouselSlide>
            <img class="slider-img" src="assets/images/image5.png">
        </ng-template>
    </owl-carousel-o>
</div>