.cardimg {
        height: 200px;
        background-repeat: no-repeat;
        width: 100%;
        border-radius: 20px;
}

.card1 {
        background-image: url('/assets/svg/card1.svg');

}

.card2 {
        background-image: url('/assets/svg/card2.svg');

}

.card3 {
        background-image: url('/assets/svg/card3.svg');

}

.card4 {
        background-image: url('/assets/svg/card4.svg');

}

.mt-100 {
        margin-top: 100px;
}

.p {
        font-family: "Manrope", sans-serif;
}

.card-text {
        padding: 0px 0px 0px 20px;
}

.card-text1 {
        padding: 0px 20px 0px 0px;
}

.upgrade-banner {
        height: 185px;
        background-size: cover;
        border-radius: 10px;
        cursor: pointer;
        background: linear-gradient(294.38deg, #41067A 7.72%, #7A06D1 87.02%);
}

.profile-cover {
        position: relative;
        /* right: -152px; */
        /* top: -13px; */
}

.cover-right {
        right: -7px;
}



@media (max-width: 900px) {
        .card-text {
                padding: 20px 0px 0px 0px;
        }
}